In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd

### loading dataset which will be analysized

In [ ]:
df = sns.load_dataset('titanic')

This data set is about to Titanic ship which sank. You will find only passengers info not craw bought ticket.

* survived -> State of survive? (0 : No , 1: Yes)

/ alive -> Whether the traveler survived (no , yes)

* pclass -> Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)

/ class -> Passenger class(First(Best) , Second, Third(Worst))

* sex -> Passenger’s gender (Male , Female)

*  age -> Passenger’s age (0.42 (Babies under 1 year old) , 80)

/ who -> Distribution of passenger (Child, Man, Woman)

/ adult_male -> Whether the passenger is a adult man (True , False)

* sibsp -> The number of brothers and sisters on board the passenger (0–8)

* parch -> The number of relatives of the passenger on board (0–6)

* fare -> The amount the passenger paid for the ticket (0–512.3292)

* embarked -> The door through which the passenger boarded the ship (S (Best), C, Q)

/ embark_town -> Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

* deck -> The deck on which the passenger stands ['A', 'B', 'C', 'D', 'E', 'F', 'G']

* alone -> Whether the passenger is alone (True , False)

### looking around dataset (first, second, any observation)

In [ ]:
df.head()

In [ ]:
df['embark_town'].unique()

In [ ]:
df.tail()

In [ ]:
df.sample(10)

### getting some feature type information

In [ ]:
df.shape

In [ ]:
df.ndim

In [ ]:
tablo = df.describe(include ='all')
tablo.rename(index = {'count' : 'observations'}, inplace = True)

tablo.loc['null_observations'] = df.isnull().sum()
tablo.loc[['observations', 'null_observations']]

In [ ]:
df.info()

In [ ]:
titanic = df.drop(['alive', 'class', 'adult_male', 'embark_town'], axis = 1)
titanic

In [ ]:
titanic.describe()

### Characteristics of surviving children

In [ ]:
titanic['survived'].unique()

In [ ]:
titanic['who'].unique()

In [ ]:
((titanic['survived'] == 1) & (titanic['who'] == 'child')).sum()

In [ ]:
((titanic['survived'] == 1) & (titanic['age'] < 18)).sum()

In [ ]:
titanic[(titanic['survived'] == 1) & (titanic['who'] == 'child')]

In [ ]:
titanic[(titanic['survived'] == 1) & (titanic['age'] < 18)]

In [ ]:
titanic = df.drop(['alive', 'class', 'adult_male', 'embark_town', 'who'], axis = 1)
titanic

In [ ]:
titanic['pclass'].unique()

In [ ]:
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 1)).sum())
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 2)).sum())
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 3)).sum())

In [ ]:
display(((titanic['age'] < 18) & (titanic['pclass'] == 1)).sum())
display(((titanic['age'] < 18) & (titanic['pclass'] == 2)).sum())
display(((titanic['age'] < 18) & (titanic['pclass'] == 3)).sum())

In [ ]:
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 1) & (titanic['alone'] == False)).sum())
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 2) & (titanic['alone'] == False)).sum())
display(((titanic['survived'] == 1) & (titanic['age'] < 18) & (titanic['pclass'] == 3) & (titanic['alone'] == False)).sum())

In [ ]:
titanic['sibsp'].unique()

In [ ]:
titanic['sibsp'].value_counts()

In [ ]:
titanic['parch'].unique()

In [ ]:
titanic['parch'].value_counts()