___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
#  reading csv file after part 1 data cleaning

df0 = pd.read_csv('as24_cars_part1.csv')

df = df0.copy()

# PART- 2 `( Handling With Missing Vales )`

# IMPUTATION MISSING VALUE

In [3]:
# dropping duplications

df.drop_duplicates(inplace=True)

In [4]:
# defining functions

def general_information():
    print('#\t Column\t\t\tNon-Null Count (%)\t NAN Count (% NAN)\t Dtype\t\tUnique(Category)')
    print('-'*115)   
    for i in range(len(df.columns)):
        print(f'{i}\t{df.columns[i]:<25}', end = '')
        print(f'{df.iloc[:,i].notnull().sum():<7} %{(df.iloc[:,i].notnull().sum()/len(df)*100).round(2): <15}', end = '')
        print(f'{df.iloc[:,i].isnull().sum():<7} %{(df.iloc[:,i].isnull().sum()/len(df)*100).round(2) : <15}', end = '')
        print(f'{str(df.iloc[:,i].dtype) : <15}', end = '')
        print(len(df.iloc[:,i].unique()) if (df.iloc[:,i].dtype) == 'category' else'-')    


def information(column, category = False):    
    print('Range Index:', len(df), 'entries, from', df.index.min(), 'to', df.index.max())
    print(f'  Full NAN observations: {df[df.isnull().all(axis=1)].shape[0]} ')
    print('\n Feature : ',column,'\n','-'*15)
    print(f'  Non-NAN : {df[column].notnull().sum()} ({(df[column].notnull().sum()/len(df)*100).round(2)}%)')       
    print('Blank data is : ', (df[column] == '').sum())
    print('Feature type :', df[column].dtype)
    
    if (df[column].dtype == 'category') & (category == True) :        
        print('Categories', '\n','*'*10)
        for i in df[column].unique():
            print(i)    
    
    print(f'\nHere is some sample of {column} \n{df[column].sample(5)}')
    print()


def missing(column, percentage = False):
    print('\n Feature : ',column)
    print('-'*30)
    print(f'      NAN : {df[column].isnull().sum()} ({(df[column].isnull().sum()/len(df)*100).round(2)}%)')
    print('-'*30)
          
    if percentage:        
        for index, count in df[column].value_counts(dropna=False).items():
            print(f"{index:<16} : {count} ({round((count/len(df))*100, 2)} %)")
            
    print()

In [5]:
general_information()

#	 Column			Non-Null Count (%)	 NAN Count (% NAN)	 Dtype		Unique(Category)
-------------------------------------------------------------------------------------------------------------------
0	make_model               26763   %100.0          0       %0.0            object         -
1	short_description        26559   %99.24          204     %0.76           object         -
2	make                     26763   %100.0          0       %0.0            object         -
3	model                    26499   %99.01          264     %0.99           object         -
4	location                 26763   %100.0          0       %0.0            object         -
5	price                    26763   %100.0          0       %0.0            float64        -
6	body_type                26763   %100.0          0       %0.0            object         -
7	type                     26763   %100.0          0       %0.0            object         -
8	doors                    26422   %98.73          341     %1.27           float64        -
9	country_version          15871   %59.3           10892   %40.7           object         -
10	warranty                 14642   %54.71          12121   %45.29          object         -
11	mileage                  26762   %100.0          1       %0.0            float64        -
12	first_registration       26761   %99.99          2       %0.01           object         -
13	gearbox                  26529   %99.13          234     %0.87           object         -
14	fuel_type                25086   %93.73          1677    %6.27           object         -
15	colour                   25092   %93.76          1671    %6.24           object         -
16	paint                    13404   %50.08          13359   %49.92          object         -
17	desc                     26117   %97.59          646     %2.41           object         -
18	seller                   26763   %100.0          0       %0.0            object         -
19	seats                    23767   %88.81          2996    %11.19          float64        -
20	engine_size              25410   %94.94          1353    %5.06           float64        -
21	gears                    17678   %66.05          9085    %33.95          float64        -
22	manufacturer_colour      20284   %75.79          6479    %24.21          object         -
23	drivetrain               15593   %58.26          11170   %41.74          object         -
24	cylinders                17513   %65.44          9250    %34.56          float64        -
25	fuel_consumption         21735   %81.21          5028    %18.79          float64        -
26	comfort_&_convenience    23680   %88.48          3083    %11.52          object         -
27	entertainment_&_media    22115   %82.63          4648    %17.37          object         -
28	safety_&_security        23675   %88.46          3088    %11.54          object         -
29	extras                   21814   %81.51          4949    %18.49          object         -
30	full_service_history     11651   %43.53          15112   %56.47          object         -
31	non_smoker_vehicle       10840   %40.5           15923   %59.5           object         -
32	emission_class           16644   %62.19          10119   %37.81          object         -
33	emissions_sticker        8913    %33.3           17850   %66.7           object         -
34	upholstery_colour        13617   %50.88          13146   %49.12          object         -
35	upholstery               17313   %64.69          9450    %35.31          object         -
36	seller_country_alfa2     26763   %100.0          0       %0.0            object         -
37	seller_country           26763   %100.0          0       %0.0            object         -
38	warranty_month           12471   %46.6           14292   %53.4           float64        -
39	age_days                 26761   %99.99          2       %0.01           object         -
40	power_kW                 26205   %97.92          558     %2.08           float64        -
41	power_hp                 26201   %97.9           562     %2.1            float64        -
42	co_emission_g/kg         17315   %64.7           9448    %35.3           float64        -
43	empty_weight_kg          16461   %61.51          10302   %38.49          float64        -
44	mileage_owner            13042   %48.73          13721   %51.27          float64        -
45	first_registration_owner 13042   %48.73          13721   %51.27          object         -
46	owner_number             13042   %48.73          13721   %51.27          float64        -

In [6]:
# Deciding which feature to fill

filled_columns =[]
nan_columns = []
clear_nan_rows = []
                 
for column in df.columns:
    nan_value_percentage = (df[column].isnull().sum()/len(df)*100).round(2)
    
    if nan_value_percentage == 0:
        filled_columns.append(column)
    
    elif nan_value_percentage < 1.0:
        clear_nan_rows.append(column)

    else:
        nan_columns.append(column)

print('\n   Those columns must be filled', '\n', '-'*30)
print('\n'.join([i for i in nan_columns]))     

print('\n   Columns have little nan data, (those data were dropped)', '\n', '-'*30)
print('\n'.join([i for i in clear_nan_rows])) 

print('\n         Filled Columns', '\n', '-'*30)
print('\n'.join([i for i in filled_columns]))

   Those columns must be filled
 ------------------------------
doors
country_version
warranty
fuel_type
colour
paint
desc
seats
engine_size
gears
manufacturer_colour
drivetrain
cylinders
fuel_consumption
comfort_&_convenience
entertainment_&_media
safety_&_security
extras
full_service_history
non_smoker_vehicle
emission_class
emissions_sticker
upholstery_colour
upholstery
warranty_month
power_kW
power_hp
co_emission_g/kg
empty_weight_kg
mileage_owner
first_registration_owner
owner_number

   Columns have little nan data, (those data were dropped)
 ------------------------------
short_description
model
first_registration
gearbox
age_days

         Filled Columns
 ------------------------------
make_model
make
location
price
body_type
type
mileage
seller
seller_country_alfa2
seller_country

In [7]:
# Also location, colour, desc, paint, manufacturer_colour,  emissions_sticker, non_smoker_vehicle, upholstery_colour, warranty_month, upholstery, power_hp, co_emission_g/kg, mileage_owner, first_registration_owner and owner_number are never filled.
# Some of fulll information, some of created after part 1 to imputation

# doors

In [8]:
information('doors')
missing('doors')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  doors
 ---------------
  Non-NAN : 26422 (98.73%)
Blank data is :  0
Feature type : float64

Here is some sample of doors
1        4.0
577      2.0
2022     4.0
23875    5.0
12219    2.0
Name: doors, dtype: float64


 Feature :  doors
------------------------------
      NAN : 341 (1.27%)
------------------------------

In [9]:
# This feature is related to make, model and body type

missing('doors')

df.groupby(['make', 'model', 'body_type'])['doors'].value_counts(dropna = False)  
missing('doors')

 Feature :  doors
------------------------------
      NAN : 341 (1.27%)
------------------------------


 Feature :  doors
------------------------------
      NAN : 341 (1.27%)
------------------------------

In [10]:
df['doors'].fillna(df.groupby(['make', 'model', 'body_type'])['doors'].transform(lambda x: x.mode().loc[0] if len(x.mode()) > 0 else x), inplace=True)
missing('doors')

 Feature :  doors
------------------------------
      NAN : 41 (0.15%)
------------------------------

In [11]:
df['doors'].fillna(df.groupby(['make', 'model'])['doors'].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else x), inplace=True)
missing('doors')

 Feature :  doors
------------------------------
      NAN : 19 (0.07%)
------------------------------

# seats

In [12]:
information('seats')
missing('seats')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  seats
 ---------------
  Non-NAN : 23767 (88.81%)
Blank data is :  0
Feature type : float64

Here is some sample of seats
1427     5.0
7049     5.0
2410     5.0
648      4.0
13413    5.0
Name: seats, dtype: float64


 Feature :  seats
------------------------------
      NAN : 2996 (11.19%)
------------------------------

In [13]:
# This feature is related to make, model and body type
df.seats.fillna(df.groupby(['make', 'model'])['seats'].transform('mean'), inplace = True)
missing('seats')

 Feature :  seats
------------------------------
      NAN : 68 (0.25%)
------------------------------

In [14]:
df.seats.fillna(df.groupby(['doors', 'body_type'])['seats'].transform('mean'), inplace = True)
missing('seats')

 Feature :  seats
------------------------------
      NAN : 15 (0.06%)
------------------------------

#  empty_weight_kg

In [15]:
information('empty_weight_kg')
missing('empty_weight_kg')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  empty_weight_kg
 ---------------
  Non-NAN : 16461 (61.51%)
Blank data is :  0
Feature type : float64

Here is some sample of empty_weight_kg
17637       NaN
15256    1096.0
22204    1280.0
20500    1345.0
15263     980.0
Name: empty_weight_kg, dtype: float64


 Feature :  empty_weight_kg
------------------------------
      NAN : 10302 (38.49%)
------------------------------

In [16]:
# This feature is related to make, model and body type

df['empty_weight_kg'].fillna(df.groupby(['make', 'model', "body_type"])['empty_weight_kg'].transform('mean')).isnull().sum()

688

In [17]:
df['empty_weight_kg'] = df['empty_weight_kg'].fillna(df.groupby(['make', 'model', "body_type"])['empty_weight_kg'].transform('mean'))
missing('empty_weight_kg')

 Feature :  empty_weight_kg
------------------------------
      NAN : 688 (2.57%)
------------------------------

In [18]:
df['empty_weight_kg'].fillna(df.groupby(["engine_size"])['empty_weight_kg'].transform('mean')).isnull().sum()

195

In [19]:
df['empty_weight_kg'] = df['empty_weight_kg'].fillna(df.groupby(["engine_size"])['empty_weight_kg'].transform('mean'))
missing('empty_weight_kg')

 Feature :  empty_weight_kg
------------------------------
      NAN : 195 (0.73%)
------------------------------

# drivetrain

In [20]:
information('drivetrain')
missing('drivetrain')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  drivetrain
 ---------------
  Non-NAN : 15593 (58.26%)
Blank data is :  0
Feature type : object

Here is some sample of drivetrain
22387      NaN
28453      NaN
2497     Front
14500    Front
18934    Front
Name: drivetrain, dtype: object


 Feature :  drivetrain
------------------------------
      NAN : 11170 (41.74%)
------------------------------

In [21]:
# This feature is related to make_model, body type and fuel_comsumption
# also some information is get in short_desciption

df.loc[df[df['drivetrain'].isnull()].index, "short_description"].str.contains("4[ -]*Matic", case = False).value_counts()

short_description
False    11015
True        78
Name: count, dtype: int64

In [22]:
matic_train  = df.loc[df[df.drivetrain.isnull()].index, "short_description"].str.contains("4[ -]*Matic", case = False)
matic_index = matic_train[matic_train == True].index
df.loc[matic_index, "drivetrain"] = "4WD"
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 11092 (41.45%)
------------------------------

In [23]:
front_train  = df.loc[df[df["drivetrain"].isnull()].index, "short_description"].str.contains("Front", case = False)
front_index = front_train[front_train == True].index
front_train[front_train == True].count()
df.loc[front_index, "drivetrain"] = "Front"
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 11076 (41.39%)
------------------------------

In [24]:
df["drivetrain"].fillna(df.groupby(['body_type', 'gearbox'])['drivetrain'].transform(lambda x: x.mode()[0]), inplace = True)
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 190 (0.71%)
------------------------------

# country_version

In [25]:
information('country_version')
missing('country_version')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  country_version
 ---------------
  Non-NAN : 15871 (59.3%)
Blank data is :  0
Feature type : object

Here is some sample of country_version
27634        NaN
22582    Germany
21168    Germany
15969    Germany
8006         NaN
Name: country_version, dtype: object


 Feature :  country_version
------------------------------
      NAN : 10892 (40.7%)
------------------------------

In [26]:
# Country version is related body_type, drivetrain. Manufacturer and seller country can be same

missing('country_version')

df['country_version'].fillna(df.groupby(['body_type', 'drivetrain'])['country_version'].transform(lambda x: x.mode()[0]), inplace = True)
missing('country_version')

 Feature :  country_version
------------------------------
      NAN : 10892 (40.7%)
------------------------------


 Feature :  country_version
------------------------------
      NAN : 164 (0.61%)
------------------------------

In [27]:
df['country_version'].fillna(df.groupby('seller_country')['country_version'].transform(lambda x: x.mode().iloc[0] if len(x) > 0 and len(x.mode()) > 0 else np.nanmedian(x)), inplace=True)
missing('country_version')

 Feature :  country_version
------------------------------
      NAN : 0 (0.0%)
------------------------------

# warranty

In [28]:
information('warranty')
missing('warranty')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  warranty
 ---------------
  Non-NAN : 14642 (54.71%)
Blank data is :  0
Feature type : object

Here is some sample of warranty
24593    NaN
20121    Yes
22189    NaN
541      Yes
24328    Yes
Name: warranty, dtype: object


 Feature :  warranty
------------------------------
      NAN : 12121 (45.29%)
------------------------------

In [29]:
# Fiiling by make_model and seller country

missing('warranty')

df.groupby(['make_model', 'seller_country']).warranty.apply(lambda x: x.mode()[0] if len(x.mode()) > 0 else None)
missing('warranty')

 Feature :  warranty
------------------------------
      NAN : 12121 (45.29%)
------------------------------


 Feature :  warranty
------------------------------
      NAN : 12121 (45.29%)
------------------------------

In [30]:
df.groupby(['make_model', 'seller_country'])['warranty'].apply(lambda x: x.fillna(x.mode()[0], inplace = True) if len(x.mode()) > 0 else x)

missing('warranty')

 Feature :  warranty
------------------------------
      NAN : 12121 (45.29%)
------------------------------

In [31]:
df['warranty'].fillna('No', inplace = True) # remain NaN fill with No
missing('warranty', True)

 Feature :  warranty
------------------------------
      NAN : 0 (0.0%)
------------------------------
Yes              : 14642 (54.71 %)
No               : 12121 (45.29 %)

# full_service_history

In [32]:
information('full_service_history')
missing('full_service_history')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  full_service_history
 ---------------
  Non-NAN : 11651 (43.53%)
Blank data is :  0
Feature type : object

Here is some sample of full_service_history
9117     Yes
19079    NaN
420      Yes
22720    Yes
23882    NaN
Name: full_service_history, dtype: object


 Feature :  full_service_history
------------------------------
      NAN : 15112 (56.47%)
------------------------------

In [33]:
df[df['warranty'].notnull()]["warranty"].index

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       28617, 28618, 28619, 28620, 28621, 28622, 28623, 28624, 28625, 28626],
      dtype='int64', length=26763)

In [34]:
# Nan values which have filled warranty column are cosidered as Yes
df.loc[df[df['warranty'].notnull()]["warranty"].index, "full_service_history"] = "Yes"
missing('full_service_history')

 Feature :  full_service_history
------------------------------
      NAN : 0 (0.0%)
------------------------------

# fuel_type

In [35]:
information('fuel_type')
missing('fuel_type')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  fuel_type
 ---------------
  Non-NAN : 25086 (93.73%)
Blank data is :  0
Feature type : object

Here is some sample of fuel_type
4084      Diesel
1418         NaN
21672    Benzine
11936    Benzine
4208     Benzine
Name: fuel_type, dtype: object


 Feature :  fuel_type
------------------------------
      NAN : 1677 (6.27%)
------------------------------

In [36]:
# reduction of cardinality

df['fuel_type'] = df['fuel_type'].str.replace('CNG','Others')
df['fuel_type'] = df['fuel_type'].str.replace('Hydrogen','Others')
df['fuel_type'] = df['fuel_type'].str.replace('Biogas','Others')

missing('fuel_type', True)

 Feature :  fuel_type
------------------------------
      NAN : 1677 (6.27%)
------------------------------
Benzine          : 16497 (61.64 %)
Diesel           : 7824 (29.23 %)
nan              : 1677 (6.27 %)
Others           : 313 (1.17 %)
LPG              : 267 (1.0 %)
Electric         : 185 (0.69 %)

In [37]:
# Fuel type is related by make_model
# Some of short description has fuel type information

missing('fuel_type')
# df.groupby("make_model")["fuel_type"].value_counts()
df_fueltype_nan = df[df['fuel_type'].isnull()][['make_model','short_description']]

df.loc[df_fueltype_nan[df_fueltype_nan.short_description.str.contains('([Hh]+.br)|(twin)|(plug)', na=False, case=False)].index, 'fuel_type'] = 'Hybrid'
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 1677 (6.27%)
------------------------------


 Feature :  fuel_type
------------------------------
      NAN : 907 (3.39%)
------------------------------

In [38]:
df.loc[df_fueltype_nan[df_fueltype_nan['short_description'].str.contains('(kwh|kw)|(elect+)', na=False, case=False)].index, 'fuel_type'] = 'Electric'
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 734 (2.74%)
------------------------------

In [39]:
df.fuel_type.fillna(df.groupby('make_model')['fuel_type'].transform(lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else np.nan), inplace=True)
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 11 (0.04%)
------------------------------

# fuel_consumption

In [40]:
information('fuel_consumption')
missing('fuel_consumption')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  fuel_consumption
 ---------------
  Non-NAN : 21735 (81.21%)
Blank data is :  0
Feature type : float64

Here is some sample of fuel_consumption
19250    10.1
13997     6.2
11812     3.7
24993     NaN
22918     5.1
Name: fuel_consumption, dtype: float64


 Feature :  fuel_consumption
------------------------------
      NAN : 5028 (18.79%)
------------------------------

In [41]:
# "Benzine", "Diesel", "Other", "LPG" fuel types have been analyzed separately from Hybrid and Electic Models

df_fuel = df[df["fuel_type"].isin(["Benzine", "Diesel", "Other", "LPG"])]
df_fuel.groupby(["model", "fuel_type", "body_type"])["fuel_consumption"].transform(lambda x: x.mean())

0         3.800000
2         7.523529
3         6.665000
4         4.900000
5         8.200000
           ...
28621     6.130435
28623     9.100000
28624     4.633333
28625     5.519231
28626    10.525000
Name: fuel_consumption, Length: 25027, dtype: float64

In [42]:
df_fuel["engine_class"] = df_fuel.engine_size.transform(lambda x: "0-50k" if x <= 50000 else \
                     "best" if x <= 1.4 else "medium" if x <= 1.8 \
                     else "high" if x <= 2.6 else "higher" if x <= 3.5 \
                     else "too much")

In [43]:
# first NaN values have been filled according to ["model", "fuel_type", "body_type"]

df.fuel_consumption.fillna(df_fuel.groupby(["model", "fuel_type", "body_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1284 (4.8%)
------------------------------

In [44]:
#NaN values have been filled according to ["model", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["model", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1233 (4.61%)
------------------------------

In [45]:
#NaN values have been filled according to ["fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1020 (3.81%)
------------------------------

In [46]:
#NaN values have been filled according to ["fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["make", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1013 (3.79%)
------------------------------

In [47]:
# remaining NaN values have been filled after engine size has been reclassified as seen above
df.fuel_consumption.fillna(df_fuel.groupby(["make", "engine_class"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 740 (2.77%)
------------------------------

In [48]:
import re 
# Even though the most common Fuel Type for hybrid automobiles is Benzine, Diesel also might be preferred.
# Hybrid/diesel fuel type has been searched in Short Description 

df.loc[df[df["fuel_type"] == "Hybrid"]["short_description"].str.extract("(diesel)", flags=re.IGNORECASE).dropna().index, "fuel_consumption"]

1263     1.9
27034    5.6
27036    5.6
27094    5.5
27518    NaN
27591    4.7
Name: fuel_consumption, dtype: float64

In [49]:
# hybrid diesel fuel type has been reclassified as "Hybrid/Diesel"
df.loc[df[df["fuel_type"] == "Hybrid"]["short_description"].str.extract("(diesel)", flags=re.IGNORECASE).dropna().index, "fuel_type"] = "Hybrid/Diesel"
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 740 (2.77%)
------------------------------

In [50]:
# Remainin NaN values have been filled according to ["model", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df.groupby(["model", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 630 (2.35%)
------------------------------

In [51]:
# Remainin NaN values have been filled according to ["make", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df.groupby(["make", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)

missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 614 (2.29%)
------------------------------

In [52]:
# Engine_class has been used in order to fill electric and hybrid automobiles
# Remainin NaN values have been filled according to ["model", "fuel_type", "engine_class"]
df.fuel_consumption.fillna(df.groupby(["model", "fuel_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 513 (1.92%)
------------------------------

In [53]:
df.fuel_consumption.fillna(df.groupby(["make", "fuel_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 203 (0.76%)
------------------------------

# power_kW

In [54]:
information('power_kW')
missing('power_kW')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  power_kW
 ---------------
  Non-NAN : 26205 (97.92%)
Blank data is :  0
Feature type : float64

Here is some sample of power_kW
20922     66.0
23729    105.0
10        66.0
15820     81.0
202      121.0
Name: power_kW, dtype: float64


 Feature :  power_kW
------------------------------
      NAN : 558 (2.08%)
------------------------------

In [55]:
import re

# How many values can I fill using the short_description that contains the "ch" value?
df.loc[df[df['power_kW'].isnull()].index, "short_description"].str.extract("(\d+)ch|(\d+\.*\d*)cv", flags=re.IGNORECASE).notnull().sum()

0    260
1     13
dtype: int64

In [56]:
df.loc[df[df["power_kW"].isnull()].index, "power_kW"] = df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)ch", flags=re.IGNORECASE).values.astype(float)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 298 (1.11%)
------------------------------

In [57]:
df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)cv", flags=re.IGNORECASE).notnull().sum()

0    13
dtype: int64

In [58]:
df.loc[df[df["power_kW"].isnull()].index, "power_kW"] = df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)cv", flags=re.IGNORECASE).values.astype(float)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 285 (1.06%)
------------------------------

In [59]:
df['power_kW'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['power_kW'].transform('mean'), inplace = True)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 24 (0.09%)
------------------------------

# engine_size

In [60]:
information('engine_size')
missing('engine_size')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  engine_size
 ---------------
  Non-NAN : 25410 (94.94%)
Blank data is :  0
Feature type : float64

Here is some sample of engine_size
24183    1685.0
782      1796.0
16194     999.0
24375    1685.0
17840    2755.0
Name: engine_size, dtype: float64


 Feature :  engine_size
------------------------------
      NAN : 1353 (5.06%)
------------------------------

In [61]:
# How many values can I fill using the short_description?
# The floating-point numbers (e.g., 1.0, 2.0) in the short_description correspond to the engine_size.

df.loc[df[df['engine_size'].isnull()].index, "short_description"].str.extract("(\d+\.\d+)").notnull().sum()

0    365
dtype: int64

In [62]:
# The floating-point numbers (e.g., 1.0, 2.0) in the short_description correspond to the engine_size.
# Let's fill the NaN values by extracting these floating-point numbers.

df.loc[df[df["engine_size"].isnull()].index, "engine_size"] = df.loc[df[df["engine_size"].isnull()].index, "short_description"].str.extract("(\d+\.\d+)").values.astype(float)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 988 (3.69%)
------------------------------

In [63]:
# After the groupby operation, how many NaN values do I have remaining

df['engine_size'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['engine_size'].transform('mean')).isnull().sum()

248

In [64]:
df['engine_size'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['engine_size'].transform('mean'), inplace = True)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 248 (0.93%)
------------------------------

In [65]:
# After the groupby operation, how many NaN values do I have remaining

df["engine_size"].fillna(df.groupby(["power_kW"])["engine_size"].transform("mean")).isnull().sum()
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 248 (0.93%)
------------------------------

In [66]:
df["engine_size"].fillna(df.groupby(["power_kW"])["engine_size"].transform("mean"), inplace = True)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 18 (0.07%)
------------------------------

# cylinders

In [67]:
information('cylinders')
missing('cylinders')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  cylinders
 ---------------
  Non-NAN : 17513 (65.44%)
Blank data is :  0
Feature type : float64

Here is some sample of cylinders
16803    3.0
22106    NaN
960      NaN
17517    4.0
15841    4.0
Name: cylinders, dtype: float64


 Feature :  cylinders
------------------------------
      NAN : 9250 (34.56%)
------------------------------

In [68]:
df.loc[df.cylinders.notnull(),['cylinders', 'engine_size', 'fuel_consumption',  'fuel_type', 'power_kW']]

       cylinders  engine_size  fuel_consumption fuel_type  power_kW
2            4.0       1991.0               8.4   Benzine     310.0
3            4.0       1991.0               7.3   Benzine     225.0
4            4.0       2143.0               4.9    Diesel     100.0
5            4.0       1799.0               8.2   Benzine      90.0
7            4.0       1991.0               6.1   Benzine     140.0
...          ...          ...               ...       ...       ...
28622        4.0       1969.0               2.0    Hybrid     288.0
28623        5.0       2435.0               9.1   Benzine     125.0
28624        4.0       1560.0               3.8    Diesel      84.0
28625        4.0       1969.0               6.5   Benzine     187.0
28626        6.0       2922.0              10.4   Benzine     147.0

[17513 rows x 5 columns]

In [69]:
df.loc[df.cylinders.isnull(),['cylinders', 'engine_size', 'fuel_consumption',  'fuel_type', 'power_kW']]

       cylinders  engine_size  fuel_consumption fuel_type    power_kW
0            NaN  1508.769231          3.800000    Diesel   73.000000
1            NaN     1.000000               NaN  Electric  215.000000
6            NaN          NaN          7.020000    Diesel         NaN
8            NaN  1991.000000          0.000000   Benzine  225.000000
15           NaN  1991.000000          5.200000    Diesel   80.000000
...          ...          ...               ...       ...         ...
28603        NaN     2.000000          5.850000    Diesel  140.000000
28604        NaN  1969.000000          6.500000   Benzine  187.000000
28605        NaN     2.000000          5.266667   Benzine  166.636364
28606        NaN     2.000000          5.850000    Diesel  140.000000
28612        NaN  2922.000000          0.000000   Benzine  150.000000

[9250 rows x 5 columns]

In [70]:
df.groupby('cylinders')['engine_size'].mean()

cylinders
0.0      523.966276
1.0      407.941615
2.0      869.853699
3.0     1074.524702
4.0     1687.413905
5.0     2258.335077
6.0     3184.504171
7.0     2489.214286
8.0     4755.417196
12.0    5782.375000
16.0    1599.000000
26.0    1842.603109
Name: engine_size, dtype: float64

In [71]:
df.groupby('cylinders')['power_kW'].mean()

cylinders
0.0     127.727273
1.0     103.619048
2.0      61.162820
3.0      76.065991
4.0     112.208786
5.0     136.716470
6.0     233.299696
7.0     158.270833
8.0     326.704087
12.0    364.500000
16.0     77.000000
26.0     12.000000
Name: power_kW, dtype: float64

In [72]:
missing('cylinders')

df['cylinders'].fillna(df.groupby(['make_model', 'engine_size', 'fuel_type','power_kW'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 9250 (34.56%)
------------------------------


 Feature :  cylinders
------------------------------
      NAN : 3467 (12.95%)
------------------------------

In [73]:
df['cylinders'].fillna(df.groupby(['make_model', 'engine_size'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 1786 (6.67%)
------------------------------

In [74]:
df['cylinders'].fillna(df.groupby(['make_model', 'fuel_type'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 313 (1.17%)
------------------------------

In [75]:
df['cylinders'].fillna(df.groupby(['make_model', 'power_kW'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 295 (1.1%)
------------------------------

In [76]:
df['cylinders'].fillna(df.groupby('power_kW')['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 18 (0.07%)
------------------------------

In [77]:
df['cylinders'].fillna(df.groupby('make_model')['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 12 (0.04%)
------------------------------

# emission_class

In [78]:
# Euro 1 is launched in 07/1992
# Euro 2 is launched in 01/1996
# Euro 3 is launched in 01/2000
# Euro 4 is launched in 01/2005
# Euro 5 is launched in 09/2009
# Euro 5a is launched in 09/2009
# Euro 5b is launched in 09/2011
# Euro 6 is launched in 09/2014
# Euro 6b
# Euro 6-c is launched in 01/2017
# Euro 6c- WLTP 
# Euro 6-d Temp launched in 01/2017
# Euro 6-d launched in 2020

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 10119 (37.81%)
------------------------------
nan              : 10119 (37.81 %)
Euro 6           : 6108 (22.82 %)
Euro 6d-TEMP     : 3130 (11.7 %)
Euro 6d          : 2687 (10.04 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 197 (0.74 %)
Euro 1           : 160 (0.6 %)
Euro 6c          : 134 (0.5 %)

In [79]:
# Euro 6 has 4 part, but all get together with one name

df['emission_class'] = df['emission_class'].str.replace('Euro 6d-TEMP','Euro 6')
df['emission_class'] = df['emission_class'].str.replace('Euro 6d','Euro 6')
df['emission_class'] = df['emission_class'].str.replace('Euro 6c','Euro 6')

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 10119 (37.81%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 10119 (37.81 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 197 (0.74 %)
Euro 1           : 160 (0.6 %)

In [80]:
# looking under EU emission classification
pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01')

0        False
1        False
2        False
3        False
4        False
         ...
28622    False
28623    False
28624    False
28625    False
28626    False
Name: first_registration, Length: 26763, dtype: bool

In [81]:
(pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01')).sum()

680

In [82]:
(df['emission_class'].isnull() & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01'))).sum()

602

In [83]:
df.loc[(pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01')), ['first_registration','emission_class']]

      first_registration emission_class
88            1986-09-01            NaN
282           1985-03-01            NaN
443           1991-07-01         Euro 3
452           1966-07-01            NaN
487           1991-02-01            NaN
...                  ...            ...
27806         1991-11-01            NaN
27832         1991-04-01         Euro 1
28493         1979-10-01            NaN
28501         1986-10-01         Euro 1
28612         1992-05-01         Euro 2

[680 rows x 2 columns]

In [84]:
# EU emission class for passenger car is launched in 07/1992, before under class 

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01')), 'emission_class'] = 'Under Class'

missing('emission_class')

 Feature :  emission_class
------------------------------
      NAN : 10119 (37.81%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 10119 (37.81 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 197 (0.74 %)
Euro 1           : 160 (0.6 %)


 Feature :  emission_class
------------------------------
      NAN : 9517 (35.56%)
------------------------------

In [85]:
df.loc[pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01'),['first_registration','emission_class']]

      first_registration emission_class
88            1986-09-01    Under Class
282           1985-03-01    Under Class
443           1991-07-01         Euro 3
452           1966-07-01    Under Class
487           1991-02-01    Under Class
...                  ...            ...
27806         1991-11-01    Under Class
27832         1991-04-01         Euro 1
28493         1979-10-01    Under Class
28501         1986-10-01         Euro 1
28612         1992-05-01         Euro 2

[680 rows x 2 columns]

In [86]:
# Changing nan value with 'Euro 1', is launched in 07/1992

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1996-01-01')), 'emission_class'] = 'Euro 1'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9517 (35.56%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 9517 (35.56 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Under Class      : 602 (2.25 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 197 (0.74 %)
Euro 1           : 160 (0.6 %)


 Feature :  emission_class
------------------------------
      NAN : 9376 (35.03%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 9376 (35.03 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Under Class      : 602 (2.25 %)
Euro 3           : 449 (1.68 %)
Euro 1           : 301 (1.12 %)
Euro 2           : 197 (0.74 %)

In [87]:
# Changing nan value with 'Euro 2', is launched in 01/1996

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2000-01-01')), 'emission_class'] = 'Euro 2'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9376 (35.03%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 9376 (35.03 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Under Class      : 602 (2.25 %)
Euro 3           : 449 (1.68 %)
Euro 1           : 301 (1.12 %)
Euro 2           : 197 (0.74 %)


 Feature :  emission_class
------------------------------
      NAN : 9200 (34.38%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 9200 (34.38 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Under Class      : 602 (2.25 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)

In [88]:
# Changing nan value with 'Euro 3', is launched in 01/2000

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2005-01-01')), 'emission_class'] = 'Euro 3'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9200 (34.38%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 9200 (34.38 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Under Class      : 602 (2.25 %)
Euro 3           : 449 (1.68 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)


 Feature :  emission_class
------------------------------
      NAN : 8874 (33.16%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 8874 (33.16 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)

In [89]:
# Changing nan value with 'Euro 4', is launched in 01/2005

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2009-09-01')), 'emission_class'] = 'Euro 4'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 8874 (33.16%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 8874 (33.16 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 1517 (5.67 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)


 Feature :  emission_class
------------------------------
      NAN : 8358 (31.23%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 8358 (31.23 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 2033 (7.6 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)

In [90]:
# Changing nan value with 'Euro 5', is launched in 09/2009

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2014-09-01')), 'emission_class'] = 'Euro 5'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 8358 (31.23%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 8358 (31.23 %)
Euro 5           : 2262 (8.45 %)
Euro 4           : 2033 (7.6 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)


 Feature :  emission_class
------------------------------
      NAN : 7463 (27.89%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 7463 (27.89 %)
Euro 5           : 3157 (11.8 %)
Euro 4           : 2033 (7.6 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)

In [91]:
# Changing nan value with 'Euro 6', is launched in 09/2014

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) >= pd.to_datetime('2014-09-01')), 'emission_class'] = 'Euro 6'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 7463 (27.89%)
------------------------------
Euro 6           : 12059 (45.06 %)
nan              : 7463 (27.89 %)
Euro 5           : 3157 (11.8 %)
Euro 4           : 2033 (7.6 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)


 Feature :  emission_class
------------------------------
      NAN : 0 (0.0%)
------------------------------
Euro 6           : 19522 (72.94 %)
Euro 5           : 3157 (11.8 %)
Euro 4           : 2033 (7.6 %)
Euro 3           : 775 (2.9 %)
Under Class      : 602 (2.25 %)
Euro 2           : 373 (1.39 %)
Euro 1           : 301 (1.12 %)

# co_emission_g/kg

In [92]:
information('co_emission_g/kg')
missing('co_emission_g/kg')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  co_emission_g/kg
 ---------------
  Non-NAN : 17315 (64.7%)
Blank data is :  0
Feature type : float64

Here is some sample of co_emission_g/kg
24488      NaN
2465       NaN
24767    139.0
18187      NaN
3933     127.0
Name: co_emission_g/kg, dtype: float64


 Feature :  co_emission_g/kg
------------------------------
      NAN : 9448 (35.3%)
------------------------------

In [93]:
# This feature is related emission_class, fuel_type, first_registration
df['co_emission_g/kg'].fillna(df.groupby(['emission_class','fuel_type', 'first_registration'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 1119 (4.18%)
------------------------------

In [94]:
df.groupby(['emission_class'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None)

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
28622      0.0
28623      0.0
28624      0.0
28625      0.0
28626    178.0
Name: co_emission_g/kg, Length: 26763, dtype: float64

In [95]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'make', 'model', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 812 (3.03%)
------------------------------

In [96]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'make', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 763 (2.85%)
------------------------------

In [97]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 694 (2.59%)
------------------------------

In [98]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 5 (0.02%)
------------------------------

In [99]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 2 (0.01%)
------------------------------

# gears

In [100]:
information('gears')
missing('gears')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  gears
 ---------------
  Non-NAN : 17678 (66.05%)
Blank data is :  0
Feature type : float64

Here is some sample of gears
7321     NaN
19230    5.0
22885    8.0
10535    NaN
12489    7.0
Name: gears, dtype: float64


 Feature :  gears
------------------------------
      NAN : 9085 (33.95%)
------------------------------

In [101]:
missing('gears')

# it is examined that number of gears directly affected by make, model, gearbox. Therefore nan values are filled according to that information.   

df['gears'].fillna(df.groupby(['make', 'model',"gearbox" ])['gears'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 9085 (33.95%)
------------------------------


 Feature :  gears
------------------------------
      NAN : 469 (1.75%)
------------------------------

In [102]:
# since no other gears information exists in groupby above. make and model groups has been used to fill remmaining nan values.
df['gears'].fillna(df.groupby(['make', 'model' ])['gears'].transform(lambda x: x.mode()[0]  if len(x.mode()) > 0 else None), inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 215 (0.8%)
------------------------------

In [103]:
# Since %0.90 nan values are remaining nan values are filled according to brand of the automobile
df['gears'].fillna(df.groupby(['make'])['gears'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 0 (0.0%)
------------------------------

# comfort_&_convenience

In [104]:
information('comfort_&_convenience')
missing('comfort_&_convenience')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  comfort_&_convenience
 ---------------
  Non-NAN : 23680 (88.48%)
Blank data is :  0
Feature type : object

Here is some sample of comfort_&_convenience
23792                            bodywork, seats, bodywork
954      functional&mechanical, climate, functional&mec...
20331    steering&trim, functional&mechanical, bodywork...
20457    climate, seats, climate, climate, steering&tri...
1819     climate, seats, climate, climate, climate, ste...
Name: comfort_&_convenience, dtype: object


 Feature :  comfort_&_convenience
------------------------------
      NAN : 3083 (11.52%)
------------------------------

In [105]:
df['comfort_&_convenience'].fillna(df.groupby(['make_model', 'type'])['comfort_&_convenience'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('comfort_&_convenience')

 Feature :  comfort_&_convenience
------------------------------
      NAN : 113 (0.42%)
------------------------------

# entertainment_&_media

In [106]:
information('entertainment_&_media')
missing('entertainment_&_media')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  entertainment_&_media
 ---------------
  Non-NAN : 22115 (82.63%)
Blank data is :  0
Feature type : object

Here is some sample of entertainment_&_media
9868                                      connect, connect
14651    connect, connect, connect, connect, connect, c...
28286    connect, connect, connect, connect, connect, c...
2120     connect, connect, connect, connect, sound_syst...
16184          connect, connect, connect, connect, connect
Name: entertainment_&_media, dtype: object


 Feature :  entertainment_&_media
------------------------------
      NAN : 4648 (17.37%)
------------------------------

In [107]:
df['entertainment_&_media'].fillna(df.groupby(['make_model', 'type'])['entertainment_&_media'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('entertainment_&_media')

 Feature :  entertainment_&_media
------------------------------
      NAN : 183 (0.68%)
------------------------------

# safety_&_security

In [108]:
information('safety_&_security')
missing('safety_&_security')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  safety_&_security
 ---------------
  Non-NAN : 23675 (88.46%)
Blank data is :  0
Feature type : object

Here is some sample of safety_&_security
18088    safety_drive, driver_asistance, security, secu...
6493     safety_drive, security, security, security, li...
13729    safety_drive, security, lighting, safety_drive...
12294    safety_drive, driver_asistance, lighting, secu...
6696     safety_drive, security, security, security, li...
Name: safety_&_security, dtype: object


 Feature :  safety_&_security
------------------------------
      NAN : 3088 (11.54%)
------------------------------

In [109]:
df['safety_&_security'].fillna(df.groupby(['make_model', 'type'])['safety_&_security'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('safety_&_security')

 Feature :  safety_&_security
------------------------------
      NAN : 152 (0.57%)
------------------------------

# extras

In [110]:
information('extras')
missing('extras')

Range Index: 26763 entries, from 0 to 28626
  Full NAN observations: 0

 Feature :  extras
 ---------------
  Non-NAN : 21814 (81.51%)
Blank data is :  0
Feature type : object

Here is some sample of extras
5140                                                   NaN
22527    wheel, accessory, accessory, accessory, tires,...
3718                        wheel, other, sport, accessory
23255                                            accessory
3981     wheel, accessory, other, tires, tires, accesso...
Name: extras, dtype: object


 Feature :  extras
------------------------------
      NAN : 4949 (18.49%)
------------------------------

In [111]:
df['extras'].fillna(df.groupby(['make_model', 'type'])['extras'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('extras')

 Feature :  extras
------------------------------
      NAN : 161 (0.6%)
------------------------------

# Dropping useless column

In [112]:
for column in df.columns:
    nan_value_percentage = (df[column].isnull().sum()/len(df)*100).round(2)
    
    if nan_value_percentage >= 1.0:
        df = df.drop(columns=[column])
        print('Feature', column, 'is dropped.')  
    elif nan_value_percentage < 1.0:
        df.dropna(subset = [column], inplace = True)
        print('Feature', column, '\'s nan row are dropped.')

Feature make_model 's nan row are dropped.
Feature short_description 's nan row are dropped.
Feature make 's nan row are dropped.
Feature model 's nan row are dropped.
Feature location 's nan row are dropped.
Feature price 's nan row are dropped.
Feature body_type 's nan row are dropped.
Feature type 's nan row are dropped.
Feature doors 's nan row are dropped.
Feature country_version 's nan row are dropped.
Feature warranty 's nan row are dropped.
Feature mileage 's nan row are dropped.
Feature first_registration 's nan row are dropped.
Feature gearbox 's nan row are dropped.
Feature fuel_type 's nan row are dropped.
Feature colour is dropped.
Feature paint is dropped.
Feature desc is dropped.
Feature seller 's nan row are dropped.
Feature seats 's nan row are dropped.
Feature engine_size 's nan row are dropped.
Feature gears 's nan row are dropped.
Feature manufacturer_colour is dropped.
Feature drivetrain 's nan row are dropped.
Feature cylinders 's nan row are dropped.
Feature fuel_consumption 's nan row are dropped.
Feature comfort_&_convenience 's nan row are dropped.
Feature entertainment_&_media 's nan row are dropped.
Feature safety_&_security 's nan row are dropped.
Feature extras 's nan row are dropped.
Feature full_service_history 's nan row are dropped.
Feature non_smoker_vehicle is dropped.
Feature emission_class 's nan row are dropped.
Feature emissions_sticker is dropped.
Feature upholstery_colour is dropped.
Feature upholstery is dropped.
Feature seller_country_alfa2 's nan row are dropped.
Feature seller_country 's nan row are dropped.
Feature warranty_month is dropped.
Feature age_days 's nan row are dropped.
Feature power_kW 's nan row are dropped.
Feature power_hp is dropped.
Feature co_emission_g/kg 's nan row are dropped.
Feature empty_weight_kg 's nan row are dropped.
Feature mileage_owner is dropped.
Feature first_registration_owner is dropped.
Feature owner_number is dropped.

In [113]:

# df = df.drop(columns=['short_description', 'make', 'model', 'location', 'desc', 'manufacturer_colour', 'paint', 'non_smoker_vehicle', 'warranty_month', 'power_hp', 'co_emission_g/kg',                    
#                       'mileage_owner', 'seller_country_alfa2','first_registration_owner','emissions_sticker', 'first_registration', 'upholstery_colour', 'upholstery'])

In [114]:
general_information()

#	 Column			Non-Null Count (%)	 NAN Count (% NAN)	 Dtype		Unique(Category)
-------------------------------------------------------------------------------------------------------------------
0	make_model               25589   %100.0          0       %0.0            object         -
1	short_description        25589   %100.0          0       %0.0            object         -
2	make                     25589   %100.0          0       %0.0            object         -
3	model                    25589   %100.0          0       %0.0            object         -
4	location                 25589   %100.0          0       %0.0            object         -
5	price                    25589   %100.0          0       %0.0            float64        -
6	body_type                25589   %100.0          0       %0.0            object         -
7	type                     25589   %100.0          0       %0.0            object         -
8	doors                    25589   %100.0          0       %0.0            float64        -
9	country_version          25589   %100.0          0       %0.0            object         -
10	warranty                 25589   %100.0          0       %0.0            object         -
11	mileage                  25589   %100.0          0       %0.0            float64        -
12	first_registration       25589   %100.0          0       %0.0            object         -
13	gearbox                  25589   %100.0          0       %0.0            object         -
14	fuel_type                25589   %100.0          0       %0.0            object         -
15	seller                   25589   %100.0          0       %0.0            object         -
16	seats                    25589   %100.0          0       %0.0            float64        -
17	engine_size              25589   %100.0          0       %0.0            float64        -
18	gears                    25589   %100.0          0       %0.0            float64        -
19	drivetrain               25589   %100.0          0       %0.0            object         -
20	cylinders                25589   %100.0          0       %0.0            float64        -
21	fuel_consumption         25589   %100.0          0       %0.0            float64        -
22	comfort_&_convenience    25589   %100.0          0       %0.0            object         -
23	entertainment_&_media    25589   %100.0          0       %0.0            object         -
24	safety_&_security        25589   %100.0          0       %0.0            object         -
25	extras                   25589   %100.0          0       %0.0            object         -
26	full_service_history     25589   %100.0          0       %0.0            object         -
27	emission_class           25589   %100.0          0       %0.0            object         -
28	seller_country_alfa2     25589   %100.0          0       %0.0            object         -
29	seller_country           25589   %100.0          0       %0.0            object         -
30	age_days                 25589   %100.0          0       %0.0            object         -
31	power_kW                 25589   %100.0          0       %0.0            float64        -
32	co_emission_g/kg         25589   %100.0          0       %0.0            float64        -
33	empty_weight_kg          25589   %100.0          0       %0.0            float64        -

# ENCODING

In [115]:
#  All categorical features transform to numeric 

for i in df.columns:
    if df[i].dtype == 'object':
        df[i] = df[i].map({value: index for index, value in enumerate(df[i].unique())})
        print('Feature', i,'is encoded by numeric')

Feature make_model is encoded by numeric
Feature short_description is encoded by numeric
Feature make is encoded by numeric
Feature model is encoded by numeric
Feature location is encoded by numeric
Feature body_type is encoded by numeric
Feature type is encoded by numeric
Feature country_version is encoded by numeric
Feature warranty is encoded by numeric
Feature first_registration is encoded by numeric
Feature gearbox is encoded by numeric
Feature fuel_type is encoded by numeric
Feature seller is encoded by numeric
Feature drivetrain is encoded by numeric
Feature comfort_&_convenience is encoded by numeric
Feature entertainment_&_media is encoded by numeric
Feature safety_&_security is encoded by numeric
Feature extras is encoded by numeric
Feature full_service_history is encoded by numeric
Feature emission_class is encoded by numeric
Feature seller_country_alfa2 is encoded by numeric
Feature seller_country is encoded by numeric
Feature age_days is encoded by numeric

In [116]:
# exporting dataframe to csv file 

df.to_csv('as24_cars_part2.csv', index=False)