___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
#  reading csv file after part 1 data cleaning

df0 = pd.read_csv('as24_cars_part1.csv')

df = df0.copy()

# PART- 2 `( Handling With Missing Vales )`

# IMPUTATION MISSING VALUE

In [3]:
# defining functions

def general_information():
    print('Range Index:', len(df), 'entries, from', df.index.min(), 'to', df.index.max())
    print('\n#\t Column\t\t\tNon-Null Count (%)\t NAN Count (% NAN)\t Dtype\t\tUnique(Category)')
    print('-'*115)   
    for i in range(len(df.columns)):
        print(f'{i}\t{df.columns[i]:<25}', end = '')
        print(f'{df.iloc[:,i].notnull().sum():<7} %{(df.iloc[:,i].notnull().sum()/len(df)*100).round(2): <15}', end = '')
        print(f'{df.iloc[:,i].isnull().sum():<7} %{(df.iloc[:,i].isnull().sum()/len(df)*100).round(2) : <15}', end = '')
        print(f'{str(df.iloc[:,i].dtype) : <15}', end = '')
        print(len(df.iloc[:,i].unique()) if (df.iloc[:,i].dtype) == 'category' else'-')    


def information(column, category = False):        
    print(f'  Full NAN observations: {df[df.isnull().all(axis=1)].shape[0]} ')
    print('\n Feature : ',column,'\n','-'*15)
    print(f'  Non-NAN : {df[column].notnull().sum()} ({(df[column].notnull().sum()/len(df)*100).round(2)}%)')       
    print('Blank data is : ', (df[column] == '').sum())
    print('Feature type :', df[column].dtype)
    
    if (df[column].dtype == 'category') & (category == True) :        
        print('Categories', '\n','*'*10)
        for i in df[column].unique():
            print(i)    
    
    print(f'\nHere is some sample of {column} \n{df[column].sample(5)}')
    print()


def missing(column, percentage = False):
    print('\n Feature : ',column)
    print('-'*30)
    print(f'      NAN : {df[column].isnull().sum()} ({(df[column].isnull().sum()/len(df)*100).round(2)}%)')
    print('-'*30)
          
    if percentage:        
        for index, count in df[column].value_counts(dropna=False).items():
            print(f"{index:<16} : {count} ({round((count/len(df))*100, 2)} %)")
            
    print()

In [4]:
general_information()

Range Index: 28628 entries, from 0 to 28627

#	 Column			Non-Null Count (%)	 NAN Count (% NAN)	 Dtype		Unique(Category)
-------------------------------------------------------------------------------------------------------------------
0	make_model               28628   %100.0          0       %0.0            object         -
1	short_description        28415   %99.26          213     %0.74           object         -
2	make                     28628   %100.0          0       %0.0            object         -
3	model                    28352   %99.04          276     %0.96           object         -
4	location                 28628   %100.0          0       %0.0            object         -
5	price                    28628   %100.0          0       %0.0            float64        -
6	body_type                28628   %100.0          0       %0.0            object         -
7	type                     28628   %100.0          0       %0.0            object         -
8	doors                    28269   %98.75          359     %1.25           float64        -
9	country_version          16889   %58.99          11739   %41.01          object         -
10	warranty                 15651   %54.67          12977   %45.33          object         -
11	mileage                  28627   %100.0          1       %0.0            float64        -
12	first_registration       28626   %99.99          2       %0.01           object         -
13	gearbox                  28380   %99.13          248     %0.87           object         -
14	fuel_type                26841   %93.76          1787    %6.24           object         -
15	colour                   26905   %93.98          1723    %6.02           object         -
16	paint                    14495   %50.63          14133   %49.37          object         -
17	desc                     27955   %97.65          673     %2.35           object         -
18	seller                   28628   %100.0          0       %0.0            object         -
19	seats                    25503   %89.08          3125    %10.92          float64        -
20	engine_size              27225   %95.1           1403    %4.9            float64        -
21	gears                    18953   %66.2           9675    %33.8           float64        -
22	manufacturer_colour      21785   %76.1           6843    %23.9           object         -
23	drivetrain               16892   %59.01          11736   %40.99          object         -
24	cylinders                18851   %65.85          9777    %34.15          float64        -
25	fuel_consumption         23375   %81.65          5253    %18.35          float64        -
26	comfort_&_convenience    25431   %88.83          3197    %11.17          object         -
27	entertainment_&_media    23642   %82.58          4986    %17.42          object         -
28	safety_&_security        25413   %88.77          3215    %11.23          object         -
29	extras                   23478   %82.01          5150    %17.99          object         -
30	full_service_history     12564   %43.89          16064   %56.11          object         -
31	non_smoker_vehicle       11593   %40.5           17035   %59.5           object         -
32	emission_class           17858   %62.38          10770   %37.62          object         -
33	emissions_sticker        9414    %32.88          19214   %67.12          object         -
34	upholstery_colour        14569   %50.89          14059   %49.11          object         -
35	upholstery               18609   %65.0           10019   %35.0           object         -
36	seller_country_alfa2     28628   %100.0          0       %0.0            object         -
37	seller_country           28628   %100.0          0       %0.0            object         -
38	warranty_month           13332   %46.57          15296   %53.43          float64        -
39	age                      28626   %99.99          2       %0.01           float64        -
40	power_kW                 28057   %98.01          571     %1.99           float64        -
41	power_hp                 28053   %97.99          575     %2.01           float64        -
42	co_emission_g/kg         18593   %64.95          10035   %35.05          float64        -
43	empty_weight_kg          17757   %62.03          10871   %37.97          float64        -
44	mileage_owner            14015   %48.96          14613   %51.04          float64        -
45	first_registration_owner 14015   %48.96          14613   %51.04          object         -
46	owner_number             14015   %48.96          14613   %51.04          float64        -

In [5]:
# Deciding which feature to fill

filled_columns =[]
nan_columns = []
clear_nan_rows = []
                 
for column in df.columns:
    nan_value_percentage = (df[column].isnull().sum()/len(df)*100).round(2)
    
    if nan_value_percentage == 0:
        filled_columns.append(column)
    
    elif nan_value_percentage < 1.0:
        clear_nan_rows.append(column)

    else:
        nan_columns.append(column)

print('\n   Those columns must be filled', '\n', '-'*30)
print('\n'.join([i for i in nan_columns]))     

print('\n   Columns have little nan data, (those data will be dropped)', '\n', '-'*30)
print('\n'.join([i for i in clear_nan_rows])) 

print('\n         Filled Columns', '\n', '-'*30)
print('\n'.join([i for i in filled_columns]))

   Those columns must be filled
 ------------------------------
doors
country_version
warranty
fuel_type
colour
paint
desc
seats
engine_size
gears
manufacturer_colour
drivetrain
cylinders
fuel_consumption
comfort_&_convenience
entertainment_&_media
safety_&_security
extras
full_service_history
non_smoker_vehicle
emission_class
emissions_sticker
upholstery_colour
upholstery
warranty_month
power_kW
power_hp
co_emission_g/kg
empty_weight_kg
mileage_owner
first_registration_owner
owner_number

   Columns have little nan data, (those data will be dropped)
 ------------------------------
short_description
model
first_registration
gearbox
age

         Filled Columns
 ------------------------------
make_model
make
location
price
body_type
type
mileage
seller
seller_country_alfa2
seller_country

In [6]:
# Also location, colour, desc, paint, manufacturer_colour,  emissions_sticker, non_smoker_vehicle, upholstery_colour, warranty_month, upholstery, power_hp, co_emission_g/kg, mileage_owner, first_registration_owner and owner_number are never filled.
# Some of fulll information, some of created after part 1 to imputation

# doors

In [7]:
information('doors')
missing('doors')

  Full NAN observations: 0

 Feature :  doors
 ---------------
  Non-NAN : 28269 (98.75%)
Blank data is :  0
Feature type : float64

Here is some sample of doors
2988     2.0
5502     2.0
6948     5.0
23953    5.0
12401    5.0
Name: doors, dtype: float64


 Feature :  doors
------------------------------
      NAN : 359 (1.25%)
------------------------------

In [8]:
# This feature is related to make, model and body type

missing('doors')

df.groupby(['make', 'model', 'body_type'])['doors'].value_counts(dropna = False)  
missing('doors')

 Feature :  doors
------------------------------
      NAN : 359 (1.25%)
------------------------------


 Feature :  doors
------------------------------
      NAN : 359 (1.25%)
------------------------------

In [9]:
df['doors'].fillna(df.groupby(['make', 'model', 'body_type'])['doors'].transform(lambda x: x.mode().loc[0] if len(x.mode()) > 0 else x), inplace=True)
missing('doors')

 Feature :  doors
------------------------------
      NAN : 46 (0.16%)
------------------------------

In [10]:
df['doors'].fillna(df.groupby(['make', 'model'])['doors'].transform(lambda x: x.mode().iat[0] if len(x.mode()) > 0 else x), inplace=True)
missing('doors')

 Feature :  doors
------------------------------
      NAN : 20 (0.07%)
------------------------------

# seats

In [11]:
information('seats')
missing('seats')

  Full NAN observations: 0

 Feature :  seats
 ---------------
  Non-NAN : 25503 (89.08%)
Blank data is :  0
Feature type : float64

Here is some sample of seats
19106    2.0
19019    5.0
17077    2.0
8600     5.0
18254    5.0
Name: seats, dtype: float64


 Feature :  seats
------------------------------
      NAN : 3125 (10.92%)
------------------------------

In [12]:
# This feature is related to make, model and body type
df.seats.fillna(df.groupby(['make', 'model'])['seats'].transform('mean'), inplace = True)
missing('seats')

 Feature :  seats
------------------------------
      NAN : 69 (0.24%)
------------------------------

In [13]:
df.seats.fillna(df.groupby(['doors', 'body_type'])['seats'].transform('mean'), inplace = True)
missing('seats')

 Feature :  seats
------------------------------
      NAN : 16 (0.06%)
------------------------------

#  empty_weight_kg

In [14]:
information('empty_weight_kg')
missing('empty_weight_kg')

  Full NAN observations: 0

 Feature :  empty_weight_kg
 ---------------
  Non-NAN : 17757 (62.03%)
Blank data is :  0
Feature type : float64

Here is some sample of empty_weight_kg
24132    1548.0
17047     780.0
2509        NaN
9275        NaN
14898       NaN
Name: empty_weight_kg, dtype: float64


 Feature :  empty_weight_kg
------------------------------
      NAN : 10871 (37.97%)
------------------------------

In [15]:
# This feature is related to make, model and body type

df['empty_weight_kg'].fillna(df.groupby(['make', 'model', "body_type"])['empty_weight_kg'].transform('mean')).isnull().sum()

722

In [16]:
df['empty_weight_kg'] = df['empty_weight_kg'].fillna(df.groupby(['make', 'model', "body_type"])['empty_weight_kg'].transform('mean'))
missing('empty_weight_kg')

 Feature :  empty_weight_kg
------------------------------
      NAN : 722 (2.52%)
------------------------------

In [17]:
df['empty_weight_kg'].fillna(df.groupby(["engine_size"])['empty_weight_kg'].transform('mean')).isnull().sum()

206

In [18]:
df['empty_weight_kg'] = df['empty_weight_kg'].fillna(df.groupby(["engine_size"])['empty_weight_kg'].transform('mean'))
missing('empty_weight_kg')

 Feature :  empty_weight_kg
------------------------------
      NAN : 206 (0.72%)
------------------------------

# drivetrain

In [19]:
information('drivetrain')
missing('drivetrain')

  Full NAN observations: 0

 Feature :  drivetrain
 ---------------
  Non-NAN : 16892 (59.01%)
Blank data is :  0
Feature type : object

Here is some sample of drivetrain
21340      NaN
8656     Front
10839      NaN
18424    Front
5965       NaN
Name: drivetrain, dtype: object


 Feature :  drivetrain
------------------------------
      NAN : 11736 (40.99%)
------------------------------

In [20]:
# This feature is related to make_model, body type and fuel_comsumption
# also some information is get in short_desciption

df.loc[df[df['drivetrain'].isnull()].index, "short_description"].str.contains("4[ -]*Matic", case = False).value_counts()

short_description
False    11578
True        79
Name: count, dtype: int64

In [21]:
matic_train  = df.loc[df[df.drivetrain.isnull()].index, "short_description"].str.contains("4[ -]*Matic", case = False)
matic_index = matic_train[matic_train == True].index
df.loc[matic_index, "drivetrain"] = "4WD"
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 11657 (40.72%)
------------------------------

In [22]:
front_train  = df.loc[df[df["drivetrain"].isnull()].index, "short_description"].str.contains("Front", case = False)
front_index = front_train[front_train == True].index
front_train[front_train == True].count()
df.loc[front_index, "drivetrain"] = "Front"
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 11641 (40.66%)
------------------------------

In [23]:
df["drivetrain"].fillna(df.groupby(['body_type', 'gearbox'])['drivetrain'].transform(lambda x: x.mode()[0]), inplace = True)
missing('drivetrain')

 Feature :  drivetrain
------------------------------
      NAN : 199 (0.7%)
------------------------------

# country_version

In [24]:
information('country_version')
missing('country_version')

  Full NAN observations: 0

 Feature :  country_version
 ---------------
  Non-NAN : 16889 (58.99%)
Blank data is :  0
Feature type : object

Here is some sample of country_version
24676    Germany
12160      Spain
12352        NaN
24481      Spain
1688         NaN
Name: country_version, dtype: object


 Feature :  country_version
------------------------------
      NAN : 11739 (41.01%)
------------------------------

In [25]:
# Country version is related body_type, drivetrain. Manufacturer and seller country can be same

missing('country_version')

df['country_version'].fillna(df.groupby(['body_type', 'drivetrain'])['country_version'].transform(lambda x: x.mode()[0]), inplace = True)
missing('country_version')

 Feature :  country_version
------------------------------
      NAN : 11739 (41.01%)
------------------------------


 Feature :  country_version
------------------------------
      NAN : 172 (0.6%)
------------------------------

In [26]:
df['country_version'].fillna(df.groupby('seller_country')['country_version'].transform(lambda x: x.mode().iloc[0] if len(x) > 0 and len(x.mode()) > 0 else np.nanmedian(x)), inplace=True)
missing('country_version')

 Feature :  country_version
------------------------------
      NAN : 0 (0.0%)
------------------------------

# warranty

In [27]:
information('warranty')
missing('warranty')

  Full NAN observations: 0

 Feature :  warranty
 ---------------
  Non-NAN : 15651 (54.67%)
Blank data is :  0
Feature type : object

Here is some sample of warranty
25283    Yes
2669     Yes
1207     Yes
6527     NaN
13602    NaN
Name: warranty, dtype: object


 Feature :  warranty
------------------------------
      NAN : 12977 (45.33%)
------------------------------

In [28]:
# Fiiling by make_model and seller country

missing('warranty')

df.groupby(['make_model', 'seller_country']).warranty.apply(lambda x: x.mode()[0] if len(x.mode()) > 0 else None)
missing('warranty')

 Feature :  warranty
------------------------------
      NAN : 12977 (45.33%)
------------------------------


 Feature :  warranty
------------------------------
      NAN : 12977 (45.33%)
------------------------------

In [29]:
df.groupby(['make_model', 'seller_country'])['warranty'].apply(lambda x: x.fillna(x.mode()[0], inplace = True) if len(x.mode()) > 0 else x)

missing('warranty')

 Feature :  warranty
------------------------------
      NAN : 12977 (45.33%)
------------------------------

In [30]:
df['warranty'].fillna('No', inplace = True) # remain NaN fill with No
missing('warranty', True)

 Feature :  warranty
------------------------------
      NAN : 0 (0.0%)
------------------------------
Yes              : 15651 (54.67 %)
No               : 12977 (45.33 %)

# full_service_history

In [31]:
information('full_service_history')
missing('full_service_history')

  Full NAN observations: 0

 Feature :  full_service_history
 ---------------
  Non-NAN : 12564 (43.89%)
Blank data is :  0
Feature type : object

Here is some sample of full_service_history
24600    NaN
28309    NaN
18817    NaN
25572    NaN
28078    Yes
Name: full_service_history, dtype: object


 Feature :  full_service_history
------------------------------
      NAN : 16064 (56.11%)
------------------------------

In [32]:
df[df['warranty'].notnull()]["warranty"].index

RangeIndex(start=0, stop=28628, step=1)

In [33]:
# Nan values which have filled warranty column are cosidered as Yes
df.loc[df[df['warranty'].notnull()]["warranty"].index, "full_service_history"] = "Yes"
missing('full_service_history')

 Feature :  full_service_history
------------------------------
      NAN : 0 (0.0%)
------------------------------

# fuel_type

In [34]:
information('fuel_type')
missing('fuel_type')

  Full NAN observations: 0

 Feature :  fuel_type
 ---------------
  Non-NAN : 26841 (93.76%)
Blank data is :  0
Feature type : object

Here is some sample of fuel_type
27117     Diesel
6066     Benzine
10258    Benzine
21410    Benzine
22183        NaN
Name: fuel_type, dtype: object


 Feature :  fuel_type
------------------------------
      NAN : 1787 (6.24%)
------------------------------

In [35]:
# reduction of cardinality

df['fuel_type'] = df['fuel_type'].str.replace('CNG','Others')
df['fuel_type'] = df['fuel_type'].str.replace('Hydrogen','Others')
df['fuel_type'] = df['fuel_type'].str.replace('Biogas','Others')

missing('fuel_type', True)

 Feature :  fuel_type
------------------------------
      NAN : 1787 (6.24%)
------------------------------
Benzine          : 17330 (60.54 %)
Diesel           : 8727 (30.48 %)
nan              : 1787 (6.24 %)
Others           : 316 (1.1 %)
LPG              : 280 (0.98 %)
Electric         : 188 (0.66 %)

In [36]:
# Fuel type is related by make_model
# Some of short description has fuel type information

missing('fuel_type')
# df.groupby("make_model")["fuel_type"].value_counts()
df_fueltype_nan = df[df['fuel_type'].isnull()][['make_model','short_description']]

df.loc[df_fueltype_nan[df_fueltype_nan.short_description.str.contains('([Hh]+.br)|(twin)|(plug)', na=False, case=False)].index, 'fuel_type'] = 'Hybrid'
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 1787 (6.24%)
------------------------------


 Feature :  fuel_type
------------------------------
      NAN : 954 (3.33%)
------------------------------

In [37]:
df.loc[df_fueltype_nan[df_fueltype_nan['short_description'].str.contains('(kwh|kw)|(elect+)', na=False, case=False)].index, 'fuel_type'] = 'Electric'
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 777 (2.71%)
------------------------------

In [38]:
df.fuel_type.fillna(df.groupby('make_model')['fuel_type'].transform(lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else np.nan), inplace=True)
missing('fuel_type')

 Feature :  fuel_type
------------------------------
      NAN : 11 (0.04%)
------------------------------

In [123]:
missing('fuel_type', True)

 Feature :  fuel_type
------------------------------
      NAN : 0 (0.0%)
------------------------------
Benzine          : 16091 (62.88 %)
Diesel           : 7757 (30.31 %)
Hybrid           : 853 (3.33 %)
Electric         : 321 (1.25 %)
Others           : 299 (1.17 %)
LPG              : 262 (1.02 %)
Hybrid/Diesel    : 6 (0.02 %)

# fuel_consumption

In [39]:
information('fuel_consumption')
missing('fuel_consumption')

  Full NAN observations: 0

 Feature :  fuel_consumption
 ---------------
  Non-NAN : 23375 (81.65%)
Blank data is :  0
Feature type : float64

Here is some sample of fuel_consumption
15741    7.0
6634     3.7
23826    6.3
13338    NaN
15801    NaN
Name: fuel_consumption, dtype: float64


 Feature :  fuel_consumption
------------------------------
      NAN : 5253 (18.35%)
------------------------------

In [40]:
# "Benzine", "Diesel", "Other", "LPG" fuel types have been analyzed separately from Hybrid and Electic Models

df_fuel = df[df["fuel_type"].isin(["Benzine", "Diesel", "Other", "LPG"])]
df_fuel.groupby(["model", "fuel_type", "body_type"])["fuel_consumption"].transform(lambda x: x.mean())

0         3.800000
2         7.540385
3         6.665000
4         4.900000
5         8.200000
           ...
28622     6.130435
28624     9.100000
28625     4.633333
28626     5.519231
28627    10.525000
Name: fuel_consumption, Length: 26816, dtype: float64

In [41]:
df_fuel["engine_class"] = df_fuel.engine_size.transform(lambda x: "0-50k" if x <= 50000 else \
                     "best" if x <= 1.4 else "medium" if x <= 1.8 \
                     else "high" if x <= 2.6 else "higher" if x <= 3.5 \
                     else "too much")

In [42]:
# first NaN values have been filled according to ["model", "fuel_type", "body_type"]

df.fuel_consumption.fillna(df_fuel.groupby(["model", "fuel_type", "body_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1347 (4.71%)
------------------------------

In [43]:
#NaN values have been filled according to ["model", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["model", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1294 (4.52%)
------------------------------

In [44]:
#NaN values have been filled according to ["fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1066 (3.72%)
------------------------------

In [45]:
#NaN values have been filled according to ["fuel_type", "engine_size"]
df.fuel_consumption.fillna(df_fuel.groupby(["make", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 1059 (3.7%)
------------------------------

In [46]:
# remaining NaN values have been filled after engine size has been reclassified as seen above
df.fuel_consumption.fillna(df_fuel.groupby(["make", "engine_class"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 766 (2.68%)
------------------------------

In [47]:
import re 
# Even though the most common Fuel Type for hybrid automobiles is Benzine, Diesel also might be preferred.
# Hybrid/diesel fuel type has been searched in Short Description 

df.loc[df[df["fuel_type"] == "Hybrid"]["short_description"].str.extract("(diesel)", flags=re.IGNORECASE).dropna().index, "fuel_consumption"]

1263     1.9
27035    5.6
27037    5.6
27095    5.5
27411    5.6
27413    5.6
27468    5.5
27519    NaN
27592    4.7
27906    NaN
27979    4.7
Name: fuel_consumption, dtype: float64

In [48]:
# hybrid diesel fuel type has been reclassified as "Hybrid/Diesel"
df.loc[df[df["fuel_type"] == "Hybrid"]["short_description"].str.extract("(diesel)", flags=re.IGNORECASE).dropna().index, "fuel_type"] = "Hybrid/Diesel"
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 766 (2.68%)
------------------------------

In [49]:
# Remainin NaN values have been filled according to ["model", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df.groupby(["model", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 644 (2.25%)
------------------------------

In [50]:
# Remainin NaN values have been filled according to ["make", "fuel_type", "engine_size"]
df.fuel_consumption.fillna(df.groupby(["make", "fuel_type", "engine_size"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)

missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 628 (2.19%)
------------------------------

In [51]:
# Engine_class has been used in order to fill electric and hybrid automobiles
# Remainin NaN values have been filled according to ["model", "fuel_type", "engine_class"]
df.fuel_consumption.fillna(df.groupby(["model", "fuel_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 526 (1.84%)
------------------------------

In [52]:
df.fuel_consumption.fillna(df.groupby(["make", "fuel_type"])["fuel_consumption"].transform(lambda x: x.mean()), inplace = True)
missing('fuel_consumption')

 Feature :  fuel_consumption
------------------------------
      NAN : 213 (0.74%)
------------------------------

# power_kW

In [53]:
information('power_kW')
missing('power_kW')

  Full NAN observations: 0

 Feature :  power_kW
 ---------------
  Non-NAN : 28057 (98.01%)
Blank data is :  0
Feature type : float64

Here is some sample of power_kW
17968    135.0
24877     57.0
22754    206.0
23771    105.0
19619    419.0
Name: power_kW, dtype: float64


 Feature :  power_kW
------------------------------
      NAN : 571 (1.99%)
------------------------------

In [54]:
import re

# How many values can I fill using the short_description that contains the "ch" value?
df.loc[df[df['power_kW'].isnull()].index, "short_description"].str.extract("(\d+)ch|(\d+\.*\d*)cv", flags=re.IGNORECASE).notnull().sum()

0    267
1     13
dtype: int64

In [55]:
df.loc[df[df["power_kW"].isnull()].index, "power_kW"] = df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)ch", flags=re.IGNORECASE).values.astype(float)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 304 (1.06%)
------------------------------

In [56]:
df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)cv", flags=re.IGNORECASE).notnull().sum()

0    13
dtype: int64

In [57]:
df.loc[df[df["power_kW"].isnull()].index, "power_kW"] = df.loc[df[df["power_kW"].isnull()].index, "short_description"].str.extract("(\d+\.*\d*)cv", flags=re.IGNORECASE).values.astype(float)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 291 (1.02%)
------------------------------

In [58]:
df['power_kW'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['power_kW'].transform('mean'), inplace = True)
missing('power_kW')

 Feature :  power_kW
------------------------------
      NAN : 25 (0.09%)
------------------------------

# engine_size

In [59]:
information('engine_size')
missing('engine_size')

  Full NAN observations: 0

 Feature :  engine_size
 ---------------
  Non-NAN : 27225 (95.1%)
Blank data is :  0
Feature type : float64

Here is some sample of engine_size
9350        NaN
7674     1598.0
18609    2000.0
23884    1197.0
28599    1969.0
Name: engine_size, dtype: float64


 Feature :  engine_size
------------------------------
      NAN : 1403 (4.9%)
------------------------------

In [60]:
# How many values can I fill using the short_description?
# The floating-point numbers (e.g., 1.0, 2.0) in the short_description correspond to the engine_size.

df.loc[df[df['engine_size'].isnull()].index, "short_description"].str.extract("(\d+\.\d+)").notnull().sum()

0    376
dtype: int64

In [61]:
# The floating-point numbers (e.g., 1.0, 2.0) in the short_description correspond to the engine_size.
# Let's fill the NaN values by extracting these floating-point numbers.

df.loc[df[df["engine_size"].isnull()].index, "engine_size"] = df.loc[df[df["engine_size"].isnull()].index, "short_description"].str.extract("(\d+\.\d+)").values.astype(float)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 1027 (3.59%)
------------------------------

In [62]:
# After the groupby operation, how many NaN values do I have remaining

df['engine_size'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['engine_size'].transform('mean')).isnull().sum()

258

In [63]:
df['engine_size'].fillna(df.groupby(['make', 'model', 'body_type', "type"])['engine_size'].transform('mean'), inplace = True)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 258 (0.9%)
------------------------------

In [64]:
# After the groupby operation, how many NaN values do I have remaining

df["engine_size"].fillna(df.groupby(["power_kW"])["engine_size"].transform("mean")).isnull().sum()
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 258 (0.9%)
------------------------------

In [65]:
df["engine_size"].fillna(df.groupby(["power_kW"])["engine_size"].transform("mean"), inplace = True)
missing('engine_size')

 Feature :  engine_size
------------------------------
      NAN : 18 (0.06%)
------------------------------

# cylinders

In [66]:
information('cylinders')
missing('cylinders')

  Full NAN observations: 0

 Feature :  cylinders
 ---------------
  Non-NAN : 18851 (65.85%)
Blank data is :  0
Feature type : float64

Here is some sample of cylinders
17301    NaN
19414    6.0
1351     NaN
16484    NaN
17306    4.0
Name: cylinders, dtype: float64


 Feature :  cylinders
------------------------------
      NAN : 9777 (34.15%)
------------------------------

In [67]:
df.loc[df.cylinders.notnull(),['cylinders', 'engine_size', 'fuel_consumption',  'fuel_type', 'power_kW']]

       cylinders  engine_size  fuel_consumption fuel_type  power_kW
2            4.0       1991.0               8.4   Benzine     310.0
3            4.0       1991.0               7.3   Benzine     225.0
4            4.0       2143.0               4.9    Diesel     100.0
5            4.0       1799.0               8.2   Benzine      90.0
7            4.0       1991.0               6.1   Benzine     140.0
...          ...          ...               ...       ...       ...
28623        4.0       1969.0               2.0    Hybrid     288.0
28624        5.0       2435.0               9.1   Benzine     125.0
28625        4.0       1560.0               3.8    Diesel      84.0
28626        4.0       1969.0               6.5   Benzine     187.0
28627        6.0       2922.0              10.4   Benzine     147.0

[18851 rows x 5 columns]

In [68]:
df.loc[df.cylinders.isnull(),['cylinders', 'engine_size', 'fuel_consumption',  'fuel_type', 'power_kW']]

       cylinders  engine_size  fuel_consumption fuel_type    power_kW
0            NaN  1508.769231          3.800000    Diesel   73.000000
1            NaN     1.000000               NaN  Electric  215.000000
6            NaN          NaN          7.020000    Diesel         NaN
8            NaN  1991.000000          0.000000   Benzine  225.000000
15           NaN  1991.000000          5.200000    Diesel   80.000000
...          ...          ...               ...       ...         ...
28604        NaN     2.000000          5.850000    Diesel  140.000000
28605        NaN  1969.000000          6.500000   Benzine  187.000000
28606        NaN     2.000000          5.266667   Benzine  166.636364
28607        NaN     2.000000          5.850000    Diesel  140.000000
28613        NaN  2922.000000          0.000000   Benzine  150.000000

[9777 rows x 5 columns]

In [69]:
df.groupby('cylinders')['engine_size'].mean()

cylinders
0.0      494.057073
1.0      409.057697
2.0      869.903663
3.0     1078.445410
4.0     1701.313094
5.0     2274.609111
6.0     3181.805208
7.0     2489.214286
8.0     4753.981847
12.0    5782.375000
16.0    1599.000000
26.0    1843.404124
Name: engine_size, dtype: float64

In [70]:
df.groupby('cylinders')['power_kW'].mean()

cylinders
0.0     136.371429
1.0     103.619048
2.0      61.170948
3.0      76.596496
4.0     113.917876
5.0     136.079442
6.0     232.656804
7.0     158.270833
8.0     326.969942
12.0    364.500000
16.0     77.000000
26.0     12.000000
Name: power_kW, dtype: float64

In [71]:
missing('cylinders')

df['cylinders'].fillna(df.groupby(['make_model', 'engine_size', 'fuel_type','power_kW'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 9777 (34.15%)
------------------------------


 Feature :  cylinders
------------------------------
      NAN : 3618 (12.64%)
------------------------------

In [72]:
df['cylinders'].fillna(df.groupby(['make_model', 'engine_size'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 1848 (6.46%)
------------------------------

In [73]:
df['cylinders'].fillna(df.groupby(['make_model', 'fuel_type'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 322 (1.12%)
------------------------------

In [74]:
df['cylinders'].fillna(df.groupby(['make_model', 'power_kW'])['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 304 (1.06%)
------------------------------

In [75]:
df['cylinders'].fillna(df.groupby('power_kW')['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 18 (0.06%)
------------------------------

In [76]:
df['cylinders'].fillna(df.groupby('make_model')['cylinders'].transform('max'), inplace = True)
missing('cylinders')

 Feature :  cylinders
------------------------------
      NAN : 12 (0.04%)
------------------------------

# emission_class

In [77]:
# Euro 1 is launched in 07/1992
# Euro 2 is launched in 01/1996
# Euro 3 is launched in 01/2000
# Euro 4 is launched in 01/2005
# Euro 5 is launched in 09/2009
# Euro 5a is launched in 09/2009
# Euro 5b is launched in 09/2011
# Euro 6 is launched in 09/2014
# Euro 6b
# Euro 6-c is launched in 01/2017
# Euro 6c- WLTP 
# Euro 6-d Temp launched in 01/2017
# Euro 6-d launched in 2020

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 10770 (37.62%)
------------------------------
nan              : 10770 (37.62 %)
Euro 6           : 6417 (22.42 %)
Euro 6d-TEMP     : 3399 (11.87 %)
Euro 6d          : 2858 (9.98 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 217 (0.76 %)
Euro 1           : 172 (0.6 %)
Euro 6c          : 140 (0.49 %)

In [78]:
# Euro 6 has 4 part, but all get together with one name

df['emission_class'] = df['emission_class'].str.replace('Euro 6d-TEMP','Euro 6')
df['emission_class'] = df['emission_class'].str.replace('Euro 6d','Euro 6')
df['emission_class'] = df['emission_class'].str.replace('Euro 6c','Euro 6')

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 10770 (37.62%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 10770 (37.62 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 217 (0.76 %)
Euro 1           : 172 (0.6 %)

In [79]:
# looking under EU emission classification
pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01')

0        False
1        False
2        False
3        False
4        False
         ...
28623    False
28624    False
28625    False
28626    False
28627    False
Name: first_registration, Length: 28628, dtype: bool

In [80]:
(pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01')).sum()

737

In [81]:
(df['emission_class'].isnull() & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01'))).sum()

655

In [82]:
df.loc[(pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01')), ['first_registration','emission_class']]

      first_registration emission_class
88            1986-09-01            NaN
282           1985-03-01            NaN
443           1991-07-01         Euro 3
452           1966-07-01            NaN
487           1991-02-01            NaN
...                  ...            ...
28187         1991-11-01            NaN
28213         1991-04-01         Euro 1
28494         1979-10-01            NaN
28502         1986-10-01         Euro 1
28613         1992-05-01         Euro 2

[737 rows x 2 columns]

In [83]:
print(i for i in df['age'].value_counts(dropna = False))

<generator object <genexpr> at 0x0000001ACD8B0AD0>

In [84]:
# EU emission class for passenger car is launched in 07/1992, before under class 

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1992-07-01')), 'emission_class'] = 'Under Class'

missing('emission_class')

 Feature :  emission_class
------------------------------
      NAN : 10770 (37.62%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 10770 (37.62 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 217 (0.76 %)
Euro 1           : 172 (0.6 %)


 Feature :  emission_class
------------------------------
      NAN : 10115 (35.33%)
------------------------------

In [85]:
df.loc[pd.to_datetime(df['first_registration']) <  pd.to_datetime('1992-07-01'),['first_registration','emission_class']]

      first_registration emission_class
88            1986-09-01    Under Class
282           1985-03-01    Under Class
443           1991-07-01         Euro 3
452           1966-07-01    Under Class
487           1991-02-01    Under Class
...                  ...            ...
28187         1991-11-01    Under Class
28213         1991-04-01         Euro 1
28494         1979-10-01    Under Class
28502         1986-10-01         Euro 1
28613         1992-05-01         Euro 2

[737 rows x 2 columns]

In [86]:
# Changing nan value with 'Euro 1', is launched in 07/1992

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('1996-01-01')), 'emission_class'] = 'Euro 1'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 10115 (35.33%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 10115 (35.33 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Under Class      : 655 (2.29 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 217 (0.76 %)
Euro 1           : 172 (0.6 %)


 Feature :  emission_class
------------------------------
      NAN : 9969 (34.82%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9969 (34.82 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Under Class      : 655 (2.29 %)
Euro 3           : 523 (1.83 %)
Euro 1           : 318 (1.11 %)
Euro 2           : 217 (0.76 %)

In [87]:
# Changing nan value with 'Euro 2', is launched in 01/1996

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2000-01-01')), 'emission_class'] = 'Euro 2'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9969 (34.82%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9969 (34.82 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Under Class      : 655 (2.29 %)
Euro 3           : 523 (1.83 %)
Euro 1           : 318 (1.11 %)
Euro 2           : 217 (0.76 %)


 Feature :  emission_class
------------------------------
      NAN : 9784 (34.18%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9784 (34.18 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Under Class      : 655 (2.29 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)

In [88]:
# Changing nan value with 'Euro 3', is launched in 01/2000

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2005-01-01')), 'emission_class'] = 'Euro 3'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9784 (34.18%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9784 (34.18 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Under Class      : 655 (2.29 %)
Euro 3           : 523 (1.83 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)


 Feature :  emission_class
------------------------------
      NAN : 9420 (32.9%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9420 (32.9 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)

In [89]:
# Changing nan value with 'Euro 4', is launched in 01/2005

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2009-09-01')), 'emission_class'] = 'Euro 4'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 9420 (32.9%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 9420 (32.9 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 1743 (6.09 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)


 Feature :  emission_class
------------------------------
      NAN : 8858 (30.94%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 8858 (30.94 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 2305 (8.05 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)

In [90]:
# Changing nan value with 'Euro 5', is launched in 09/2009

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) < pd.to_datetime('2014-09-01')), 'emission_class'] = 'Euro 5'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 8858 (30.94%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 8858 (30.94 %)
Euro 5           : 2389 (8.34 %)
Euro 4           : 2305 (8.05 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)


 Feature :  emission_class
------------------------------
      NAN : 7899 (27.59%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 7899 (27.59 %)
Euro 5           : 3348 (11.69 %)
Euro 4           : 2305 (8.05 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)

In [91]:
# Changing nan value with 'Euro 6', is launched in 09/2014

missing('emission_class', True)

df.loc[(df['emission_class'].isnull()) & (pd.to_datetime(df['first_registration']) >= pd.to_datetime('2014-09-01')), 'emission_class'] = 'Euro 6'

missing('emission_class', True)

 Feature :  emission_class
------------------------------
      NAN : 7899 (27.59%)
------------------------------
Euro 6           : 12814 (44.76 %)
nan              : 7899 (27.59 %)
Euro 5           : 3348 (11.69 %)
Euro 4           : 2305 (8.05 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)


 Feature :  emission_class
------------------------------
      NAN : 0 (0.0%)
------------------------------
Euro 6           : 20713 (72.35 %)
Euro 5           : 3348 (11.69 %)
Euro 4           : 2305 (8.05 %)
Euro 3           : 887 (3.1 %)
Under Class      : 655 (2.29 %)
Euro 2           : 402 (1.4 %)
Euro 1           : 318 (1.11 %)

# co_emission_g/kg

In [92]:
information('co_emission_g/kg')
missing('co_emission_g/kg')

  Full NAN observations: 0

 Feature :  co_emission_g/kg
 ---------------
  Non-NAN : 18593 (64.95%)
Blank data is :  0
Feature type : float64

Here is some sample of co_emission_g/kg
26882    152.0
11496    126.0
13888      NaN
18845    104.0
9173       NaN
Name: co_emission_g/kg, dtype: float64


 Feature :  co_emission_g/kg
------------------------------
      NAN : 10035 (35.05%)
------------------------------

In [93]:
# This feature is related emission_class, fuel_type, first_registration
df['co_emission_g/kg'].fillna(df.groupby(['emission_class','fuel_type', 'first_registration'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 1188 (4.15%)
------------------------------

In [94]:
df.groupby(['emission_class'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None)

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
28623      0.0
28624      0.0
28625      0.0
28626      0.0
28627    178.0
Name: co_emission_g/kg, Length: 28628, dtype: float64

In [95]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'make', 'model', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 879 (3.07%)
------------------------------

In [96]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'make', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 829 (2.9%)
------------------------------

In [97]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class', 'engine_size'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 757 (2.64%)
------------------------------

In [98]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country','emission_class'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 6 (0.02%)
------------------------------

In [99]:
df['co_emission_g/kg'].fillna(df.groupby(['seller_country'])['co_emission_g/kg'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('co_emission_g/kg')

 Feature :  co_emission_g/kg
------------------------------
      NAN : 2 (0.01%)
------------------------------

# gears

In [100]:
information('gears')
missing('gears')

  Full NAN observations: 0

 Feature :  gears
 ---------------
  Non-NAN : 18953 (66.2%)
Blank data is :  0
Feature type : float64

Here is some sample of gears
22791    6.0
19556    5.0
18468    NaN
19632    5.0
15880    6.0
Name: gears, dtype: float64


 Feature :  gears
------------------------------
      NAN : 9675 (33.8%)
------------------------------

In [101]:
missing('gears')

# it is examined that number of gears directly affected by make, model, gearbox. Therefore nan values are filled according to that information.   

df['gears'].fillna(df.groupby(['make', 'model',"gearbox" ])['gears'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None) , inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 9675 (33.8%)
------------------------------


 Feature :  gears
------------------------------
      NAN : 487 (1.7%)
------------------------------

In [102]:
# since no other gears information exists in groupby above. make and model groups has been used to fill remmaining nan values.
df['gears'].fillna(df.groupby(['make', 'model' ])['gears'].transform(lambda x: x.mode()[0]  if len(x.mode()) > 0 else None), inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 223 (0.78%)
------------------------------

In [103]:
# Since %0.90 nan values are remaining nan values are filled according to brand of the automobile
df['gears'].fillna(df.groupby(['make'])['gears'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('gears')

 Feature :  gears
------------------------------
      NAN : 0 (0.0%)
------------------------------

# comfort_&_convenience

In [104]:
information('comfort_&_convenience')
missing('comfort_&_convenience')

  Full NAN observations: 0

 Feature :  comfort_&_convenience
 ---------------
  Non-NAN : 25431 (88.83%)
Blank data is :  0
Feature type : object

Here is some sample of comfort_&_convenience
13921         steering&trim,bodywork,functional&mechanical
28068    bodywork,steering&trim,seats,climate,functiona...
25897    bodywork,steering&trim,seats,climate,functiona...
7863     bodywork,steering&trim,seats,climate,functiona...
6456     bodywork,steering&trim,security,seats,climate,...
Name: comfort_&_convenience, dtype: object


 Feature :  comfort_&_convenience
------------------------------
      NAN : 3197 (11.17%)
------------------------------

In [105]:
df['comfort_&_convenience'].fillna(df.groupby(['make_model', 'type'])['comfort_&_convenience'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('comfort_&_convenience')

 Feature :  comfort_&_convenience
------------------------------
      NAN : 119 (0.42%)
------------------------------

# entertainment_&_media

In [106]:
information('entertainment_&_media')
missing('entertainment_&_media')

  Full NAN observations: 0

 Feature :  entertainment_&_media
 ---------------
  Non-NAN : 23642 (82.58%)
Blank data is :  0
Feature type : object

Here is some sample of entertainment_&_media
22288                     connect,sound_system
27352    phone_connection,sound_system,connect
24033                                  connect
5464                                   connect
27912                     connect,sound_system
Name: entertainment_&_media, dtype: object


 Feature :  entertainment_&_media
------------------------------
      NAN : 4986 (17.42%)
------------------------------

In [107]:
df['entertainment_&_media'].fillna(df.groupby(['make_model', 'type'])['entertainment_&_media'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('entertainment_&_media')

 Feature :  entertainment_&_media
------------------------------
      NAN : 200 (0.7%)
------------------------------

# safety_&_security

In [108]:
information('safety_&_security')
missing('safety_&_security')

  Full NAN observations: 0

 Feature :  safety_&_security
 ---------------
  Non-NAN : 25413 (88.77%)
Blank data is :  0
Feature type : object

Here is some sample of safety_&_security
5162     driver_asistance,security,safety_drive,other,l...
26088                       security,safety_drive,lighting
24996                                security,safety_drive
13041                       security,safety_drive,lighting
8024                        security,safety_drive,lighting
Name: safety_&_security, dtype: object


 Feature :  safety_&_security
------------------------------
      NAN : 3215 (11.23%)
------------------------------

In [109]:
df['safety_&_security'].fillna(df.groupby(['make_model', 'type'])['safety_&_security'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('safety_&_security')

 Feature :  safety_&_security
------------------------------
      NAN : 163 (0.57%)
------------------------------

# extras

In [110]:
information('extras')
missing('extras')

  Full NAN observations: 0

 Feature :  extras
 ---------------
  Non-NAN : 23478 (82.01%)
Blank data is :  0
Feature type : object

Here is some sample of extras
7248     wheel,sport,accessory
21830                      NaN
15785                accessory
13961                    tires
21983    tires,sport,accessory
Name: extras, dtype: object


 Feature :  extras
------------------------------
      NAN : 5150 (17.99%)
------------------------------

In [111]:
df['extras'].fillna(df.groupby(['make_model', 'type'])['extras'].transform(lambda x: x.mode()[0] if len(x.mode()) > 0 else None), inplace = True)
missing('extras')

 Feature :  extras
------------------------------
      NAN : 175 (0.61%)
------------------------------

# Dropping duplications

In [112]:
df.drop_duplicates(inplace=True)

# Dropping useless column/row

In [113]:
for column in df.columns:
    nan_value_percentage = (df[column].isnull().sum()/len(df)*100).round(2)
    
    if nan_value_percentage >= 1.0:
        df = df.drop(columns=[column])
        print('Feature', column, 'is dropped.')  
    elif nan_value_percentage < 1.0:
        df.dropna(subset = [column], inplace = True)
        print('Feature', column, '\'s nan row are dropped.')

Feature make_model 's nan row are dropped.
Feature short_description 's nan row are dropped.
Feature make 's nan row are dropped.
Feature model 's nan row are dropped.
Feature location 's nan row are dropped.
Feature price 's nan row are dropped.
Feature body_type 's nan row are dropped.
Feature type 's nan row are dropped.
Feature doors 's nan row are dropped.
Feature country_version 's nan row are dropped.
Feature warranty 's nan row are dropped.
Feature mileage 's nan row are dropped.
Feature first_registration 's nan row are dropped.
Feature gearbox 's nan row are dropped.
Feature fuel_type 's nan row are dropped.
Feature colour is dropped.
Feature paint is dropped.
Feature desc is dropped.
Feature seller 's nan row are dropped.
Feature seats 's nan row are dropped.
Feature engine_size 's nan row are dropped.
Feature gears 's nan row are dropped.
Feature manufacturer_colour is dropped.
Feature drivetrain 's nan row are dropped.
Feature cylinders 's nan row are dropped.
Feature fuel_consumption 's nan row are dropped.
Feature comfort_&_convenience 's nan row are dropped.
Feature entertainment_&_media 's nan row are dropped.
Feature safety_&_security 's nan row are dropped.
Feature extras 's nan row are dropped.
Feature full_service_history 's nan row are dropped.
Feature non_smoker_vehicle is dropped.
Feature emission_class 's nan row are dropped.
Feature emissions_sticker is dropped.
Feature upholstery_colour is dropped.
Feature upholstery is dropped.
Feature seller_country_alfa2 's nan row are dropped.
Feature seller_country 's nan row are dropped.
Feature warranty_month is dropped.
Feature age 's nan row are dropped.
Feature power_kW 's nan row are dropped.
Feature power_hp is dropped.
Feature co_emission_g/kg 's nan row are dropped.
Feature empty_weight_kg 's nan row are dropped.
Feature mileage_owner is dropped.
Feature first_registration_owner is dropped.
Feature owner_number is dropped.

In [114]:
df = df.drop(columns=['short_description', 'location', 'first_registration', 'seller_country_alfa2']) 


# df = df.drop(columns=['short_description', 'make', 'model', 'location', 'desc', 'manufacturer_colour', 'paint', 'non_smoker_vehicle', 'warranty_month', 'power_hp', 'co_emission_g/kg',                    
#                       'mileage_owner', 'seller_country_alfa2','first_registration_owner','emissions_sticker', 'first_registration', 'upholstery_colour', 'upholstery'])

In [115]:
general_information()

Range Index: 25589 entries, from 0 to 28627

#	 Column			Non-Null Count (%)	 NAN Count (% NAN)	 Dtype		Unique(Category)
-------------------------------------------------------------------------------------------------------------------
0	make_model               25589   %100.0          0       %0.0            object         -
1	make                     25589   %100.0          0       %0.0            object         -
2	model                    25589   %100.0          0       %0.0            object         -
3	price                    25589   %100.0          0       %0.0            float64        -
4	body_type                25589   %100.0          0       %0.0            object         -
5	type                     25589   %100.0          0       %0.0            object         -
6	doors                    25589   %100.0          0       %0.0            float64        -
7	country_version          25589   %100.0          0       %0.0            object         -
8	warranty                 25589   %100.0          0       %0.0            object         -
9	mileage                  25589   %100.0          0       %0.0            float64        -
10	gearbox                  25589   %100.0          0       %0.0            object         -
11	fuel_type                25589   %100.0          0       %0.0            object         -
12	seller                   25589   %100.0          0       %0.0            object         -
13	seats                    25589   %100.0          0       %0.0            float64        -
14	engine_size              25589   %100.0          0       %0.0            float64        -
15	gears                    25589   %100.0          0       %0.0            float64        -
16	drivetrain               25589   %100.0          0       %0.0            object         -
17	cylinders                25589   %100.0          0       %0.0            float64        -
18	fuel_consumption         25589   %100.0          0       %0.0            float64        -
19	comfort_&_convenience    25589   %100.0          0       %0.0            object         -
20	entertainment_&_media    25589   %100.0          0       %0.0            object         -
21	safety_&_security        25589   %100.0          0       %0.0            object         -
22	extras                   25589   %100.0          0       %0.0            object         -
23	full_service_history     25589   %100.0          0       %0.0            object         -
24	emission_class           25589   %100.0          0       %0.0            object         -
25	seller_country           25589   %100.0          0       %0.0            object         -
26	age                      25589   %100.0          0       %0.0            float64        -
27	power_kW                 25589   %100.0          0       %0.0            float64        -
28	co_emission_g/kg         25589   %100.0          0       %0.0            float64        -
29	empty_weight_kg          25589   %100.0          0       %0.0            float64        -

# ENCODING

In [116]:
#  All categorical features transform to numeric 

# for i in df.columns:
#     if df[i].dtype == 'object':
#         df[i] = df[i].map({value: index for index, value in enumerate(df[i].unique())})
#         print('Feature', i,'is encoded by numeric')

In [117]:
# exporting dataframe to csv file 

df.to_csv('as24_cars_part2.csv', index=False)